.slider{
    position: relative;
    max-width: auto;
    margin: auto;
    overflow: hidden;
}

.slides{
    display: flex;
    transition: transform 0.5 ease-in-out;
}

.slide{
    flex: 0 0 100%;
}

img {
    width: 100%;
    height: auto;

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 24px;
    transform: translateY(-50%);
    font-size: 24px;
    padding: 10px;
    background-color:aqua;
    color: white;
    z-index: 1;

}

.prev{
    left:0;

}

.next{
    right:0;

}